body{
    background-color: rgba(140, 255, 0, 0.438);
    
}

/* button{
    background-color: yellow;
} */

#google_button{
    background-color: yellow;

}

.circled_button{
    width:50px;
    border-radius: 40%;
    padding: 5px;
}

.blue_button{
    background-color: rgba(0, 0, 255, 0.489);
    color:aliceblue;
    padding:10px;
}



