body{
    background-color: rgba(140, 255, 0, 0.438);
    
}

button{
    background-color: red;
}

#google_button{
    background-color: yellow;
    
}
#ynet_button{
    background-color: rgba(0, 255, 34, 0.489);
    color:aliceblue;
    padding:10px;
}

.circled_button{
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(204, 255, 0, 0.489) ;
}

.blue_button{
    background-color: rgba(0, 0, 255, 0.489);
    color:aliceblue;
    padding:10px;
}

#hello{
    background-color: rosybrown !important;
}

#container{
    margin:10px;
    padding:20px;
    border:10px dotted black;
    border-color: brown;
    border-style: dashed;
    border-top: 8px solid red;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}



